HELP.md
target/
!application/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
application/.apt_generated
application/.classpath
application/.factorypath
application/.project
application/.settings
application/.springBeans
application/.sts4-cache

### IntelliJ IDEA ###
application/.idea
application/*.iws
application/*.iml
application/*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
