<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.AcChannelinWorkerMapper">
  <resultMap id="BaseResultMap" type="com.yxe.application.po.AcChannelinWorker">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="XH" jdbcType="VARCHAR" property="xh" />
    <result column="UPXH" jdbcType="VARCHAR" property="upxh" />
    <result column="WORKER_TYPE" jdbcType="VARCHAR" property="workerType" />
    <result column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="YXBZ" jdbcType="CHAR" property="yxbz" />
    <result column="CARDTYPE" jdbcType="CHAR" property="cardtype" />
    <result column="CARDNO" jdbcType="VARCHAR" property="cardno" />
    <result column="OPRID" jdbcType="VARCHAR" property="oprid" />
    <result column="OPRDATE" jdbcType="TIMESTAMP" property="oprdate" />
    <result column="ID_PIC" jdbcType="VARCHAR" property="idPic" />
    <result column="USER_PIC" jdbcType="VARCHAR" property="userPic" />
    <result column="USER_ADDRESS" jdbcType="VARCHAR" property="userAddress" />
    <result column="USER_BIRTHDAY" jdbcType="VARCHAR" property="userBirthday" />
    <result column="USER_SEX" jdbcType="VARCHAR" property="userSex" />
    <result column="OVERFLAG" jdbcType="CHAR" property="overflag" />
    <result column="EDU_FLAG" jdbcType="CHAR" property="eduFlag" />
    <result column="EDU_DATE" jdbcType="TIMESTAMP" property="eduDate" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_FERET" jdbcType="VARCHAR" property="userFeret" />
    <result column="SN" jdbcType="VARCHAR" property="sn" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    XH, UPXH, WORKER_TYPE, USER_CODE, USER_NAME, YXBZ, CARDTYPE, CARDNO, OPRID, OPRDATE, 
    ID_PIC, USER_PIC, USER_ADDRESS, USER_BIRTHDAY, USER_SEX, OVERFLAG, EDU_FLAG, EDU_DATE, 
    USER_ID, USER_FERET, SN
  </sql>
</mapper>