<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.TpsCnSerCtMapper">
  <resultMap id="BaseResultMap" type="com.yxe.application.po.TpsCnSerCt">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="XH" jdbcType="DECIMAL" property="xh" />
    <result column="UPXH" jdbcType="DECIMAL" property="upxh" />
    <result column="CNTRCTXH" jdbcType="DECIMAL" property="cntrctxh" />
    <result column="CERT_NO" jdbcType="VARCHAR" property="certNo" />
    <result column="CERT_NAME" jdbcType="VARCHAR" property="certName" />
    <result column="BEGINTIME" jdbcType="TIMESTAMP" property="begintime" />
    <result column="ENDTIME" jdbcType="TIMESTAMP" property="endtime" />
    <result column="OPRID" jdbcType="VARCHAR" property="oprid" />
    <result column="OPRDATE" jdbcType="TIMESTAMP" property="oprdate" />
    <result column="YXBZ" jdbcType="VARCHAR" property="yxbz" />
    <result column="ATTACH" jdbcType="VARCHAR" property="attach" />
    <result column="FLAG" jdbcType="CHAR" property="flag" />
    <result column="D_CODE" jdbcType="VARCHAR" property="dCode" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    XH, UPXH, CNTRCTXH, CERT_NO, CERT_NAME, BEGINTIME, ENDTIME, OPRID, OPRDATE, YXBZ, 
    ATTACH, FLAG, D_CODE
  </sql>
</mapper>